body{
    margin: 0 10%;
    box-sizing: border-box;
    padding-top: 20px;
    background-color: rgb(189, 148, 172);

}

/* debut du style appliqué à mon header*/
header{
    /* border: 1px solid rgb(208, 255, 0); */
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0 0;
    background-color: rgba(255, 255 , 255, .7);
}
.top-nav{
    display: flex;
    justify-content: space-between;
}
.logo{
    /* border: 1px solid rgb(15, 12, 19); */
    width: 40%;
    padding-left: 5px;
}
.k{
    text-transform: uppercase;
    font-size: 1em;
    font-family: Verdana, Tahoma, Geneva, 'Segoe UI', sans-serif;
    background-color: rgb(246, 142, 4);
    border: 2px solid black;
    color:#FFF;
    border-radius: 50%;
    font-weight: 700;
    padding: 5px;
}
.b{
    text-transform: uppercase;
    font-size: 2em;
    font-family: Verdana, Tahoma, Geneva, 'Segoe UI', sans-serif;
    background-color: rgb(255, 255, 255);
    border: 2px solid black;
    color: rgb(89, 201, 136);
    border-radius: 50%;
    font-weight: 700;
    padding: 5px;
    
}
.t{
    text-transform: uppercase;
    font-size: 3em;
    font-family: Verdana, Tahoma, Geneva, 'Segoe UI', sans-serif;
    background-color: rgb(64, 8, 218);
    border: 2px solid black;
    color: rgb(254, 255, 254);
    border-radius: 50%;
    font-weight: 700;
    padding: 5px;
    
}

.top-nav ul{
    /* border: 1px solid red; */
    width: 60%;
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
}
.top-nav-ul li{
    align-self: center;
    list-style: none;
}
.top-nav-ul a{
    text-decoration: none;
    text-transform: capitalize;
    font-size: 1.2em;
    background-color: rgba(221, 211, 216, 0.5);
    border-radius: 5px;
    padding: 10px;
    color: rgb(24, 24, 23);
    font-weight: 700;
}

.top-nav-ul a:hover{
    text-transform: capitalize;
    font-size: 1.2em;
    background-color: rgba(194, 142, 168, 0.5);
    border-radius: 5px;
    padding: 10px;
    color: rgb(255, 255, 255);
}

/* fin du style appliqué à mon header*/
main{
    background-color: rgba(255, 255 , 255, .7);
    padding-bottom: 15px;
    /* border: 2px solid blue; */
}

/* debut du style appliqué à la section1*/
.section1{
    /* border: 1px solid blue; */
    width: 100%;
    height: auto;
    display: flex;
}
.presentation{
    width: 45%;
    /* border:1px solid green; */
    padding: 10% 5px 0 5px;
    font-weight: bolder;
    
}
.presentation h1,.presentation p{
    text-align: center;
    text-transform: capitalize;
}
.presentation h1{
    font-size: 3em;
}
.presentation p{
    font-size: 2em;
    text-align: justify;
    line-height: 1.5em;
}
.blue{
    color: #00F;
    /* font-weight: 900; */
}
.photo{
    width: 55%;
    /* border:1px solid rgb(76, 0, 253); */
    background: linear-gradient(to bottom , rgb(4, 0, 255), rgb(197, 13, 151));
}

.rectangle{
    /* border: 2px solid rgb(10, 2, 2); */
    width: 75%;
    height: 70%;
    margin: auto;
    margin-top: 15%;
    transform: rotate(25deg);
    background-color: rgba(255, 255 , 255, 1);
    background:linear-gradient(to bottom right, rgb(197, 13, 151), rgb(4, 0, 255))
}
.rectangle:hover{
    transform: rotate(0deg);
    border-radius: 20px;
}

.rectangle img{
    /* border: 2px solid rgb(224, 27, 27); */
    width: 90%;
    height: 90%;
    transform: rotate(-25deg);
    margin-top: 20px;
    margin-left: 20px;
    border-radius: 40%;
}
 .rectangle img:hover{
    transform: rotate(0deg);
    border-radius: 20px;
}

/* fin du style appliqué à la section1*/


/* debut du style appliqué à la section2*/
.section2{
    /* border: 1px solid rgb(0, 255, 76); */
    width: 100%;
    font-size: 1.1em;
    
}
.section2-p1{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.5em;
    color: gray;
}
.section2-p1 a{
    
    background:linear-gradient(to right, rgb(0,0,255), rgb(255, 0, 255)) ;
    padding: 5px;
    border-radius: 5px;
    color:#FFF;
    text-decoration: none;
    display: inline-block;
}
.competence{
    /* border:2px solid grey; */
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 1.1em;
    text-align: justify;
    
    
}
.line1, .line2{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 95%;
    margin: auto;
    /* border: 1px solid green; */
    padding: 10px 0;
    /* margin: 5px; */
}
.column1, .column2, .column3{
    width: 30%;
    /* border: 1px solid; */
    border-radius: 5px;
    padding: 10px 5px 0;
    background-color: rgb(248, 248, 242);
    
}
.column1:hover, .column2:hover, .column3:hover{
    box-shadow: 3px 3px 5px  rgb(216, 99, 210);
    border: none;
    
}
.column1 img, .column2 img, .column3 img{
    display: block;
    margin: auto;
}
.name-language{
    /* font-size: 1.2em; */
    text-transform: uppercase;
    font-weight: 700;
}
.logo-css{
    max-width: 80%;
}
.logo-php{
    max-width: 60%;
    height: 60%;
    margin: auto;
    /* border: 2px solid ; */
}

.master-language{
    font-size: 1.2em;
    text-align: justify;
    font-family:'Times New Roman', Times, serif;
    font-weight: 500;
    margin: 0 3px;
    
}
/* fin du style appliqué à la section2*/


/* debut du style appliqué au footer*/
    footer{
        display:flex;
        justify-content: space-between;
        background-color: lightgray;
        margin-bottom: 5%;
        padding:20px 0 20px 20px ;
        border-radius: 0 0 10px 10px;
    }

    .contact-social{
        display: flex;
        justify-content: space-around;
        width: 50%;
    }
/* fin du style appliqué au footer*/

/*debut de la responsivité*/

@media(max-width:1000px){
    body{
        background-color: rgb(195, 195, 211);
    }
    header{
        background-color: cadetblue;
    }
    
    .top-nav{
        width: 100%;
        border: 1px solid;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .logo{
        border: 1px solid rgb(15, 12, 19); 
        width: auto;
        padding-left: 5px;
        margin: 10px;
        
    } 
    .logo p{
        text-align: center;
        
    } 
    .top-nav ul{
        /* border: 1px solid red; */
        width: auto;
        display: flex;
        flex-direction: column;
        padding-right: 10px;
        
    }
    .top-nav ul li{
        /* border: 1px solid red; */
        width: auto;
        display: flex;
        flex-direction: column;
        padding-right: 10px;
        justify-content: space-between;
    }
    .top-nav ul li a{
        margin-bottom:5px ;
    }
    .section1{
        display: flex;
        flex-direction: column;
        max-width: 100%;
    }
    .presentation,.photo{
        text-align: center;
        width: 100%;
    }
    .presentation h1{
        font-size: 1.5em;
        
    }
    .presentation p{
        font-size: 1em;
        text-align: center;
    }
    .rectangle{
        width: 90%;
        margin: auto;
        transform: none;
        border-radius:10px ;
    }
    .rectangle img{
        max-width: 100%;
        transform: none;
    }
    .competence{
        width: 100%;
    }
    .line1, .line2{
        display: flex;
        flex-direction: column;
    }
    .column1, .column2, .column3{
        width: 100%;
        padding: 10px 0;
    }
    .contact-social{
        align-items: center;
    }
    
}


